<div class="footer-info text-center text-white">
    <!-- ========== Footer Info ========== -->
    <div class="footer-info__cards-container m-4">
        <div class="row justify-content-around">
            <div class="footer-info__location-card mb-5 mb-sm-0 flex-sm-grow-1 col-12 col-sm-3 p-3">
                <h3 class="text-uppercase">location</h3>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>
            <div class="footer-info__web-card mb-5 mb-sm-0 flex-sm-grow-1 col-12 col-sm-3 p-3">
                <h3 class="text-uppercase">about the web</h3>
                <ul class="footer-info__social-media-container list-unstyled d-flex justify-content-center flex-wrap">
                    <li class="footer-info__social-circle d-flex justify-content-center align-items-center p-2 border-1 rounded-circle mx-1"><i class="fa-brands fa-facebook"></i></li>
                    <li class="footer-info__social-circle d-flex justify-content-center align-items-center p-2 border-1 rounded-circle mx-1"><i class="fa-brands fa-twitter"></i></li>
                    <li class="footer-info__social-circle d-flex justify-content-center align-items-center p-2 border-1 rounded-circle mx-1"><i class="fa-brands fa-linkedin-in"></i></li>
                    <li class="footer-info__social-circle d-flex justify-content-center align-items-center p-2 border-1 rounded-circle mx-1"><i class="fa-solid fa-globe"></i></li>
                </ul>
            </div>
            <div class="footer-info__freelancer-card mb-5 mb-sm-0 flex-sm-grow-1 col-12 col-sm-3 p-3">
                <h3 class="text-uppercase">about freelancer</h3>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>
</div>
<!-- ========== End Footer Info ========== -->

<!-- ========== Footer Copyright ========== -->
<div class="footer-copyright d-flex justify-content-center align-items-center p-4">
    <p class="m-0">Copyright © Your Website 2021</p>
<!-- ========== End Footer Copyright ========== -->
</div>