<section class="about-section d-flex justify-content-center">
    <div class="row justify-content-center align-items-center">
        <div class="about-section__card d-flex align-items-center flex-column px-4">
            <app-header-star headerValue="about component"></app-header-star>
            <div class="container">
                <div class="row px-5">
                    <div class="about-section__paragraph-container col-md-6 ps-md-5">
                        <p class="text-white">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                    </div>
                    <div class="about-section__paragraph-container col-md-6 pe-md-5">
                        <p class="text-white">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>