<section class="home-section d-flex justify-content-center">
    <div class="row justify-content-center align-items-center">
        <div class="home-section__card d-flex align-items-center flex-column">
            <img class="mb-4" src="../../assets/images/avataaars.svg" alt="Avatar Profile Picture">
            <app-header-star headerValue="Start Framework"></app-header-star>
            <p class="text-white text-center">Graphic Artist - Web Designer - Illustrator</p>
        </div>
    </div>
</section>